html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ margin:0; padding:0; border:0; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block; }
body{ line-height:initial; font-family:'Hind',Arial,Helvetica,sans-serif; }
ol, ul{ list-style:none; margin:0; padding:0; }
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{ content:''; content:none; }
table{ border-collapse:collapse; border-spacing:0; }
a:hover{ text-decoration:none; }
select{-webkit-user-select:none; -moz-user-select:-moz-none; -ms-user-select:none; user-select:none; cursor:pointer; }
:focus, button:focus, input:focus{ outline:0; }
:root{ font-size:20px; }
@media (max-width:767px){
    :root{ font-size:15px; }
}
body{ font-family:"Hind",Arial,Helvetica,sans-serif; }
.header{ position:fixed; padding:5vh 5vw; top:0; right:0; z-index:3; }
.header ul{ font-size:0; }
.header li{ display:inline-block; vertical-align:middle; margin:0 8px; }
.header a{ text-decoration:none; display:block; position:relative; }
.header a:before{ width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%); border-radius:50%; border:5px solid rgba(255,255,255,.45); transition:border .35s ease-in-out; content:""; position:absolute; }
.header a:hover:before{ border-width:12px; border-color:rgba(255,255,255,.2); }
.header a span{ position:absolute; width:1px; height:1px; padding:0; overflow:hidden; clip:rect(0,0,0,0); white-space:nowrap; border:0; }
@media (max-width:767px){
    .header a svg{ width:38px; height:38px; }
}
.main{ background-repeat:no-repeat; background-position:center; background-size:cover; background-blend-mode:hard-light; display:flex; align-items:flex-end; height:100vh; position:relative; background-color:rgba(0,204,0,.2); }
.main:before{ content:""; width:100%; height:100%; position:absolute; top:0; left:0; opacity:.7; mix-blend-mode:difference; background: rgb(30,87,153); background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 33%, rgba(32,124,202,1) 33%, rgba(32,124,202,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 33%, rgba(41,137,216,1) 66%, rgba(125,185,232,1) 66%, rgba(255,255,255,1) 66%, rgba(125,185,232,1) 100%); background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 33%,rgba(32,124,202,1) 33%,rgba(32,124,202,1) 33%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 33%,rgba(41,137,216,1) 66%,rgba(125,185,232,1) 66%,rgba(255,255,255,1) 66%,rgba(125,185,232,1) 100%); background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 33%,rgba(32,124,202,1) 33%,rgba(32,124,202,1) 33%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 33%,rgba(41,137,216,1) 66%,rgba(125,185,232,1) 66%,rgba(255,255,255,1) 66%,rgba(125,185,232,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); }
.content{ position:relative; z-index:2; color:#fff; padding:10vh 10vw; }
h1{ font-size:3rem; margin:20px 0 0; letter-spacing:.5px; line-height:1.1; }
p{ font-size:1.1rem; letter-spacing:-.3px; font-weight:300; }
p span{ display:block; padding:3px 0; }
p span + span{ border-top:1px solid rgba(255,255,255,.3); }